/*
main colors from aact-admin

$primary:               #008aa1;
$secondary:             #02b7d4;
$tertiary:              #26657a;
$accent:                #ec3e37;

$red:                   #b71417;
$maroon:                #680001;
$turquoise:             #26657a; */

h1, h2, h3 {
color: #26657a ;
}


.bg-tertiary {
    background-color: #26657a !important;
}
.bg-primary {
    background-color: #02a1bb !important;
}

.h-20{
    height: 10rem !important;
}

.t-white{
    color: #FFF !important;
}

.t-grey{
    color:#57585c !important;
}

.info_shade_dark{
    background-color: #26657a;
    border-color: #26657a;
}

.card:hover {
    opacity: 1.1 !important;
    transition: opacity 0.5s ease !important;
}

.card{
    opacity: 0.8 !important;
}
  
/* Header */

.nav-svg {
    margin-left: 0px;
    transition: margin-left 0.5s;
    transition: padding-left 0.5s ,padding-right 0.5s;
  
  }
  .nav-svg-no-margin {
    margin-left: -25px;
    transition: padding-left 0.5s ,padding-right 0.5s;
  }
  
  .nav-svg:hover {
    padding-left: 30px;
    padding-right: 30px;
    
    transition: padding-left 0.5s ,padding-right 0.5s;
  }
  
  .dropdown-offset {
    margin-left: 25px;
  }
  
  .svg-polygone {
    box-shadow: 10px 10px 5px 12px lightblue;
  }
  .svg-text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-weight: 400;
    fill: #FFF;
  }

  .text-black {
    color: black !important;
    }